## 1. Import

In [1]:
import pandas as pd
import numpy as np

#StopWords Removal
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

import re

import nltk

import textblob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

Import Data Set

In [2]:
McDonalds_Df_Raw = pd.read_csv("McDonald_s_Reviews.csv", encoding="latin-1")
McDonalds_Df_Raw

,reviewer_id,store_name,category,store_address,latitude,longitude,rating_count,review_time,review,rating
0,1,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star
1,2,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars
2,3,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star
3,4,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars
4,5,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star
...,...,...,...,...,...,...,...,...,...,...
33391,33392,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",4 years ago,They treated me very badly.,1 star
33392,33393,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,The service is very good,5 stars
33393,33394,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,To remove hunger is enough,4 stars
33394,33395,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",5 years ago,"It's good, but lately it has become very expen...",5 stars
33395,33396,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2 years ago,they took good care of me,5 stars

## 2. Organize Data

Remove unnecessary information

In [3]:
McDonalds_Df_Raw = McDonalds_Df_Raw.set_index("reviewer_id")
McDonalds_Df_Raw = McDonalds_Df_Raw.drop(columns = ["store_name", "category"])
McDonalds_Df_Raw

,store_address,latitude,longitude,rating_count,review_time,review,rating
reviewer_id,,,,,,,
1,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",3 months ago,Why does it look like someone spit on my food?...,1 star
2,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars
3,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",5 days ago,Made a mobile order got to the speaker and che...,1 star
4,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars
5,"13749 US-183 Hwy, Austin, TX 78750, United States",30.460718,-97.792874,"1,240",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star
...,...,...,...,...,...,...,...
33392,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",4 years ago,They treated me very badly.,1 star
33393,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,The service is very good,5 stars
33394,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",a year ago,To remove hunger is enough,4 stars
33395,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",5 years ago,"It's good, but lately it has become very expen...",5 stars
33396,"3501 Biscayne Blvd, Miami, FL 33137, United St...",25.810000,-80.189098,"2,810",2 years ago,they took good care of me,5 stars

## 3. Keywords Frequency and Ratings

Select columns needed

In [4]:
df_keyword_ratings = McDonalds_Df_Raw.get(["review", "rating"])
df_keyword_ratings

                                                        review   rating
reviewer_id
1            Why does it look like someone spit on my food?...   1 star
2            It'd McDonalds. It is what it is as far as the...  4 stars
3            Made a mobile order got to the speaker and che...   1 star
4            My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...  5 stars
5            I repeat my order 3 times in the drive thru, a...   1 star
...                                                        ...      ...
33392                              They treated me very badly.   1 star
33393                                 The service is very good  5 stars
33394                               To remove hunger is enough  4 stars
33395        It's good, but lately it has become very expen...  5 stars
33396                                they took good care of me  5 stars

[33396 rows x 2 columns]

Process dataframe

In [5]:
df_keyword_ratings = df_keyword_ratings.assign(rating = McDonalds_Df_Raw.get("rating").apply(lambda x: int(x[0])))
df_keyword_ratings = df_keyword_ratings.sort_values(by = ["rating"])
df_keyword_ratings

                                                        review  rating
reviewer_id
1            Why does it look like someone spit on my food?...       1
13230        The do not offer free refills on your drinks i...       1
24392        Terrible service, waited forever for our food,...       1
7067         Probably one of the worst experiences I have h...       1
7068         I paid 1 hotcakes and 1 hash brown by drive th...       1
...                                                        ...     ...
24843        Everything  was cooked perfectly,  and the Ser...       5
12364                                                  Love it       5
24845        Im pretty sure that this is still the largest ...       5
24834        For fast food taste,  it's the same as every m...       5
33396                                they took good care of me       5

[33396 rows x 2 columns]

4. Removing Stopwords

In [6]:
import nltk

stop_words = stopwords.words('english')
def remove_stop_words(review):
    '''
    Takes in a string comment or review returns a string that has the stopwords removed. For better comprehension of keywords.
    '''
    phrase = review.split()
    stripped_phrase = []
    for word in phrase:
        if word not in stop_words:
            stripped_phrase.append(word)

    return " ".join(stripped_phrase)

In [7]:
def remove_undecoded(review):
    '''
    removes the undecoded texts such as "�" in the original csv file. 
    '''
    return re.sub('[^0-9a-zA-Z\s]+', "",review)

In [8]:
df_nostop_keywords = df_keyword_ratings.assign(no_stop_words_review = df_keyword_ratings.get("review").apply(remove_stop_words))
df_nostop_keywords = df_keyword_ratings.assign(no_stop_words_review = df_keyword_ratings.get("review").apply(remove_undecoded))
df_nostop_keywords = df_nostop_keywords.drop(columns = "review")

# Exporting the processed file into CSV
df_nostop_keywords.to_csv("review_without_stop_words", encoding = "latin-1")

In [9]:
# df to array put array
# import the training test split. 80 20, 60 40 70 30 <- use package
review = np.array(df_nostop_keywords.get("no_stop_words_review"))

In [10]:
def sentimentation(sentences):
    '''a function to find polarity of reviews'''
    analyzer = SentimentIntensityAnalyzer()
    #compound_score = sentiment['compound']
    # Break down the text into sentences
    sentences = nltk.sent_tokenize(sentences)

    # Analyze sentiment for each sentence
    for sentence in sentences:
        sentiment = analyzer.polarity_scores(sentence)

    return sentiment['compound']

Rating: 1

In [12]:
df_rating_1 = df_nostop_keywords[df_nostop_keywords.get("rating") == 1]
df_rating_1

             rating                               no_stop_words_review
reviewer_id
1                 1  Why does it look like someone spit on my food\...
13230             1  The do not offer free refills on your drinks i...
24392             1  Terrible service waited forever for our food W...
7067              1  Probably one of the worst experiences I have h...
7068              1  I paid 1 hotcakes and 1 hash brown by drive th...
...             ...                                                ...
16153             1                                           Terrible
3644              1  Not 24hrs They said it was 24 hours and they s...
3556              1                                            garbage
16243             1                                           Terrible
30588             1  Food was bad service was bad It was a complete...

[9431 rows x 2 columns]

In [13]:
np.random.seed(1)
df_sampled_1 = df_rating_1.sample(n=10)
df_sampled_1

             rating                               no_stop_words_review
reviewer_id
9064              1  App wouldnt workdinning room supposed to be op...
10385             1  Infested with homeless people and crazy druggi...
32279             1  I cant believe how many times they ask me if I...
6354              1  This is the worst Mcdonalds I have ever been i...
18278             1  Ew omg the coke is so disgusting it does not t...
24531             1  If I could give this less than 1 star I absolu...
32112             1                                  If 0 was possible
6258              1  Dirty several people trying to sleep at tables...
23729             1  Loud speaker at drive thru Due to technical di...
25492             1  So today 11418 about 430 am I stop at this McD...

In [39]:
df_sampled_1_calc = df_sampled_1.assign(sentiment = df_sampled_1.get("no_stop_words_review").apply(sentimentation))
df_sampled_1_calc

,rating,no_stop_words_review,sentiment
reviewer_id,,,
9064,1,App wouldnt workdinning room supposed to be op...,0.0000
10385,1,Infested with homeless people and crazy druggi...,-0.5706
32279,1,I cant believe how many times they ask me if I...,-0.0085
6354,1,This is the worst Mcdonalds I have ever been i...,-0.8692
18278,1,Ew omg the coke is so disgusting it does not t...,-0.8535
24531,1,If I could give this less than 1 star I absolu...,-0.8693
32112,1,If 0 was possible,0.0000
6258,1,Dirty several people trying to sleep at tables...,-0.4939
23729,1,Loud speaker at drive thru Due to technical di...,-0.6486
25492,1,So today 11418 about 430 am I stop at this McD...,-0.7417

Rating: 2

In [15]:
df_rating_2 = df_nostop_keywords[df_nostop_keywords.get("rating") == 2]
df_rating_2

             rating                               no_stop_words_review
reviewer_id
11045             2  Artisan Grilled Chicken was like rubber Could ...
16663             2  Worst food ever The hamburgers taste like a paper
19269             2  The workers there are not professionali went i...
17115             2                                              Poor
24989             2  The service is not slow but the customer servi...
...             ...                                                ...
26382             2  No Refills  It took about 10 minutes for me an...
26336             2  The locations looks great and has 8 of machine...
32893             2       This place is always getting the order wrong
12                2  We stopped by for a quick breakfast  It was no...
66                2  They get an extra Star because their staff 8 o...

[3086 rows x 2 columns]

In [16]:
np.random.seed(1)
df_sampled_2 = df_rating_2.sample(n=10)
df_sampled_2

             rating                               no_stop_words_review
reviewer_id
15801             2  Shake machine ALWAYS DOWN after Lunch Rush NEV...
26867             2  Bad customer service rude they lie about givin...
22474             2  Very long time waiting to make a order Very la...
7897              2  Horrible I hate to have to say that because I ...
31867             2                    Ice cream machine doww to early
25758             2  They must have been busy before we got there c...
32815             2  Food never fresh employee gets mad when you as...
31344             2  I like that it is animal theme and has a playg...
25603             2  Food was cold as their heart And the classic t...
25179             2                                              Poor

In [38]:
df_sampled_2_calc = df_sampled_2.assign(sentiment = df_sampled_2.get("no_stop_words_review").apply(sentimentation))
df_sampled_2_calc

,rating,no_stop_words_review,sentiment
reviewer_id,,,
15801,2,Shake machine ALWAYS DOWN after Lunch Rush NEV...,-0.1107
26867,2,Bad customer service rude they lie about givin...,-0.7430
22474,2,Very long time waiting to make a order Very la...,0.0000
7897,2,Horrible I hate to have to say that because I ...,-0.9567
31867,2,Ice cream machine doww to early,0.0000
25758,2,They must have been busy before we got there c...,-0.5574
32815,2,Food never fresh employee gets mad when you as...,-0.6324
31344,2,I like that it is animal theme and has a playg...,-0.9392
25603,2,Food was cold as their heart And the classic t...,0.6369
25179,2,Poor,-0.4767

Rating: 3

In [19]:
df_rating_3 = df_nostop_keywords[df_nostop_keywords.get("rating") == 3]
df_rating_3

             rating                               no_stop_words_review
reviewer_id
22595             3  Foods fresh but they are the slowest MacDonald...
19265             3  Its alright but after buying several honey bun...
22576             3  Typical McDonalds except it is so busy they ha...
30444             3  We went twice during a long wknd Service was T...
15942             3                                            Fastish
...             ...                                                ...
13671             3  Place looks amazing from the outside Unfortuna...
29508             3                                            Neutral
23441             3                           Fills a hole if u hungry
23454             3  Could have been faster ordering They have 2 la...
28961             3  A little stalewaited over 15min for our Drive ...

[4818 rows x 2 columns]

In [20]:
np.random.seed(1)
df_sampled_3 = df_rating_3.sample(n=10)
df_sampled_3

             rating                               no_stop_words_review
reviewer_id
2015              3  I order from grubhub here regularly today Iam ...
5576              3                                            Neutral
20068             3                                            Neutral
540               3                                               Norm
2500              3              The app will always draw me back here
9199              3  every child likes it but I cant stand it  ther...
26329             3  Long lines rude staff you ask for sauce but ne...
7852              3  Its McDonalds what can we say about food quali...
2719              3                               Eh its McDonalds lol
13173             3  Just another McDonalds restaurant for a quick ...

In [37]:
df_sampled_3_calc= df_sampled_3.assign(sentiment = df_sampled_3.get("no_stop_words_review").apply(sentimentation))
df_sampled_3_calc

,rating,no_stop_words_review,sentiment
reviewer_id,,,
2015,3,I order from grubhub here regularly today Iam ...,-0.7915
5576,3,Neutral,0.0000
20068,3,Neutral,0.0000
540,3,Norm,0.0000
2500,3,The app will always draw me back here,0.0000
9199,3,every child likes it but I cant stand it ther...,0.8922
26329,3,Long lines rude staff you ask for sauce but ne...,-0.2500
7852,3,Its McDonalds what can we say about food quali...,-0.0516
2719,3,Eh its McDonalds lol,0.4215
13173,3,Just another McDonalds restaurant for a quick ...,-0.8148

Rating: 4

In [22]:
df_rating_4 = df_nostop_keywords[df_nostop_keywords.get("rating") == 4]
df_rating_4

             rating                               no_stop_words_review
reviewer_id
25146             4                                              Good
20622             4                   Really good cheap and convenient
29908             4  Little more expensive than your average McDona...
26630             4  In contrast to the many radical reviews this l...
25401             4  The best looking McDonalds I have ever visited...
...             ...                                                ...
16916             4                                                 Ok
19131             4                                              Good
1472              4                                              Good
2410              4      Play area for kids inside Delicious ice cream
2414              4                                 Not bad McD is McD

[5787 rows x 2 columns]

In [23]:
np.random.seed(1)
df_sampled_4 = df_rating_4.sample(n=10)
df_sampled_4

             rating                               no_stop_words_review
reviewer_id
14179             4  This is a very busy McDonalds attached to a ga...
13889             4  This is the Worlds largest McDonalds by square...
32152             4                                              Great
24998             4            Marco is one real helpful and funny guy
13915             4  This location is huge for a McDonalds It has p...
19725             4                                              Great
4217              4                                    Pretty cool one
915               4  I went through the drivethrough or two chicken...
2520              4                               Its really good here
8903              4  Id rate it four stars like I did with InNOut F...

In [35]:
df_sampled_4_calc = df_sampled_4.assign(sentiment = df_sampled_4.get("no_stop_words_review").apply(sentimentation))
df_sampled_4_calc

,rating,no_stop_words_review,sentiment
reviewer_id,,,
14179,4,This is a very busy McDonalds attached to a ga...,0.5854
13889,4,This is the Worlds largest McDonalds by square...,0.7599
32152,4,Great,0.6249
24998,4,Marco is one real helpful and funny guy,0.6908
13915,4,This location is huge for a McDonalds It has p...,-0.3612
19725,4,Great,0.6249
4217,4,Pretty cool one,0.6705
915,4,I went through the drivethrough or two chicken...,-0.2960
2520,4,Its really good here,0.4927
8903,4,Id rate it four stars like I did with InNOut F...,0.8779

Rating: 5

In [25]:
df_rating_5 = df_nostop_keywords[df_nostop_keywords.get("rating") == 5]
df_rating_5

             rating                               no_stop_words_review
reviewer_id
29198             5                                  Good fast service
5372              5          Great customer service We were very happy
1136              5        I went for a sundae  of course I enjoyed it
29196             5                This McDonalds is consistently good
29199             5                                   It was all good
...             ...                                                ...
24843             5  Everything  was cooked perfectly  and the Serv...
12364             5                                            Love it
24845             5  Im pretty sure that this is still the largest ...
24834             5  For fast food taste  its the same as every mcd...
33396             5                          they took good care of me

[10274 rows x 2 columns]

In [26]:
np.random.seed(1)
df_sampled_5 = df_rating_5.sample(n=10)
df_sampled_5

             rating                               no_stop_words_review
reviewer_id
21304             5  Located outside the downtown and close to Las ...
4740              5  Those who work there do not pay attention to t...
12461             5  Close to the canada border US and CANADA borde...
16777             5                                 Great fast service
4377              5  We received great costumer service Thanks for ...
18034             5                                         Excellent
9160              5  If you ask me this is the best place to go if ...
31015             5                                         Excellent
9572              5                 I dont go often but love the fries
7672              5                                               Fast

In [34]:
df_sampled_5_calc = df_sampled_5.assign(sentiment = df_sampled_5.get("no_stop_words_review").apply(sentimentation))
df_sampled_5_calc

,rating,no_stop_words_review,sentiment
reviewer_id,,,
21304,5,Located outside the downtown and close to Las ...,0.0000
4740,5,Those who work there do not pay attention to t...,-0.4596
12461,5,Close to the canada border US and CANADA borde...,0.0000
16777,5,Great fast service,0.6249
4377,5,We received great costumer service Thanks for ...,0.7906
18034,5,Excellent,0.5719
9160,5,If you ask me this is the best place to go if ...,0.7964
31015,5,Excellent,0.5719
9572,5,I dont go often but love the fries,0.7783
7672,5,Fast,0.0000

Concatenate DataFrames

In [40]:
pd.concat([df_sampled_1_calc, df_sampled_2_calc, df_sampled_3_calc, df_sampled_4_calc, df_sampled_5_calc])

,rating,no_stop_words_review,sentiment
reviewer_id,,,
9064,1,App wouldnt workdinning room supposed to be op...,0.0000
10385,1,Infested with homeless people and crazy druggi...,-0.5706
32279,1,I cant believe how many times they ask me if I...,-0.0085
6354,1,This is the worst Mcdonalds I have ever been i...,-0.8692
18278,1,Ew omg the coke is so disgusting it does not t...,-0.8535
24531,1,If I could give this less than 1 star I absolu...,-0.8693
32112,1,If 0 was possible,0.0000
6258,1,Dirty several people trying to sleep at tables...,-0.4939
23729,1,Loud speaker at drive thru Due to technical di...,-0.6486
25492,1,So today 11418 about 430 am I stop at this McD...,-0.7417
15801,2,Shake machine ALWAYS DOWN after Lunch Rush NEV...,-0.1107
26867,2,Bad customer service rude they lie about givin...,-0.7430
22474,2,Very long time waiting to make a order Very la...,0.0000
7897,2,Horrible I hate to have to say that because I ...,-0.9567
31867,2,Ice cream machine doww to early,0.0000
25758,2,They must have been busy before we got there c...,-0.5574
32815,2,Food never fresh employee gets mad when you as...,-0.6324
31344,2,I like that it is animal theme and has a playg...,-0.9392
25603,2,Food was cold as their heart And the classic t...,0.6369
25179,2,Poor,-0.4767
2015,3,I order from grubhub here regularly today Iam ...,-0.7915
5576,3,Neutral,0.0000
20068,3,Neutral,0.0000
540,3,Norm,0.0000
2500,3,The app will always draw me back here,0.0000
9199,3,every child likes it but I cant stand it ther...,0.8922
26329,3,Long lines rude staff you ask for sauce but ne...,-0.2500
7852,3,Its McDonalds what can we say about food quali...,-0.0516
2719,3,Eh its McDonalds lol,0.4215
13173,3,Just another McDonalds restaurant for a quick ...,-0.8148
14179,4,This is a very busy McDonalds attached to a ga...,0.5854
13889,4,This is the Worlds largest McDonalds by square...,0.7599
32152,4,Great,0.6249
24998,4,Marco is one real helpful and funny guy,0.6908
13915,4,This location is huge for a McDonalds It has p...,-0.3612
19725,4,Great,0.6249
4217,4,Pretty cool one,0.6705
915,4,I went through the drivethrough or two chicken...,-0.2960
2520,4,Its really good here,0.4927
8903,4,Id rate it four stars like I did with InNOut F...,0.8779
21304,5,Located outside the downtown and close to Las ...,0.0000
4740,5,Those who work there do not pay attention to t...,-0.4596
12461,5,Close to the canada border US and CANADA borde...,0.0000
16777,5,Great fast service,0.6249
4377,5,We received great costumer service Thanks for ...,0.7906
18034,5,Excellent,0.5719
9160,5,If you ask me this is the best place to go if ...,0.7964
31015,5,Excellent,0.5719
9572,5,I dont go often but love the fries,0.7783
7672,5,Fast,0.0000